@tailwind base;
@tailwind components;
@tailwind utilities;

.react-colorful__last-control {
  border-radius: 0px !important;
}

.react-colorful__alpha-gradient,
.react-colorful__saturation {
  border-radius: 0px !important;
}

* {
  font-family: Rubik, sans-serif;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--placeholder-color);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--placeholder-color);
}
::placeholder {
  color: var(--placeholder-color);
}
.timer-animation {
  animation: timer-animation 0.5s ease-in-out;
}

@keyframes timer-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
